<div class="login_container">
  <div class="login_inner">
    <h1>Login</h1>
    <%= form_with(url: sessions_path, scope: :session , local: true) do |form| %>

      <div class="login_modal">
        <%= form.label       :メール, {class: "form_label login_label"} %>
        <%= form.email_field :email, {class: "form_field login_field", autocomplete: "off"} %>

        <%= form.label          :パスワード, {class: "form_label login_label"} %>
        <%= form.password_field :password, {class: "form_field login_field"} %>

        <%= form.check_box :remember_me, {class: "login_checkbox"} %>
        <%= form.label     :次回から自動でログイン %>

        <%= form.submit "ログイン", {class: "btn login_btn"} %>
      </div>

    <% end %>
  </div>
</div>
