<div class="arthistEdit_container">
  <div class="arthistEdit_inner">
    <%= form_with(model: @arthist, local: true) do |form| %>
      <%= render 'layouts/error_message', object: form.object %>

      <div class="arthistEdit_modal">
        <div class="arthistEdit_image_wrapper">
          <% if @arthist.image.present? %>
          <%= link_to image_tag(@arthist.image_url, class: "arthistEdit_image"),
                      edit_image_arthist_path(@arthist) %>
          <% else %>
          <%= link_to image_tag("/assets/default_arthist.png", class: "arthistEdit_image"),
                      edit_image_arthist_path(@arthist) %>
          <% end %>

          <i class="fas fa-2x fa-camera arthistEdit_fontImage"></i>
        </div>
        <div class="arthistEdit_contents">
          <div class="arthistEdit_form">
            <%= form.label :アーティスト名, {class: "form_label arthistEdit_label"} %>
            <%= form.text_field :name, {class: "form_field arthistEdit_field",
                                        autocomplete: "off",
                                        maxlength: 30} %>
          </div>
          <div class="arthistEdit_form">
            <%= form.label :instagram, {class: "form_label arthistEdit_label"} %>
            <%= form.text_field :instagram_link, {class: "form_field arthistEdit_field",
                                                  autocomplete: "off"} %>
          </div>
          <div class="arthistEdit_form">
            <%= form.label :youtube, {class: "form_label arthistEdit_label"} %>
            <%= form.text_field :youtube_link, {class: "form_field arthistEdit_field",
                                                autocomplete: "off"} %>
          </div>

          <%= form.submit '更新する', {class: "btn arthistEdit_btn"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
