<div class="arthistPost_container">
  <div class="arthistPost_inner">
    <h1>おすすめ曲は？</h1>
    <%= form_with(model: @arthist, local: true) do |form| %>
      <%= render 'layouts/error_message', object: form.object %>

      <div class="arthistPost_modal">
        <div class="arthistPost_arthist">
          <%= form.label      :アーティスト名, {class: "form_label arthistPost_label"} %>
          <%= form.text_field :name, {class: "form_field arthistPost_field",
                                      autocomplete: "off",
                                      maxlength: 30} %>
        </div>

        <%= form.fields_for :sings do |sing| %>

          <div class="arthistPost_singName">
            <%= sing.label      :曲名, {class: "form_label arthistPost_label"} %>
            <%= sing.text_field :name, {class: "form_field arthistPost_field",
                                        autocomplete: "off",
                                        maxlength: 45} %>
          </div>

          <div class="arthistPost_singLink">
            <%= sing.label      :曲url（youtubeまたはinstagram）, {class: "form_label arthistPost_label"} %>
            <%= sing.text_field :link, {class: "form_field arthistPost_field", autocomplete: "off"} %>
          </div>

        <% end %>

        <%= form.submit "おすすめ曲をシェア", {class: "btn arthist_btn"} %>
      </div>

    <% end %>
  </div>
</div>
