<div class="arthistShow_container">
  <div class="arthistShow_inner">

    <ul>
      <li><%= link_to '編集', edit_arthist_path(@arthist), class: "link arthist_edit" %></li>
      <% if current_user.present? && current_user.admin? %>
        <li><%= link_to '削除', arthist_path(@arthist), {class: "link arthist_delete",
                                                        data: {confirm: "削除しますか？"}} %></li>
      <% end %>
    </ul>

    <div class="arthist_show_wrapper">
      <div class="arthist_image_wrapper">
        <% if @arthist.image.present? %>
          <%= image_tag(@arthist.image_url, class: "arthist_image") %>
        <% else %>
          <%= image_tag("/assets/default_arthist.png", class: "arthist_image") %>
        <% end %>
      </div>

      <div class="arthist_name_wrapper">
        <%= @arthist.name %>
      </div>

      <div class="arthist_link_wrapper">
        <div class="arthist_instagram_link">
          <% if @arthist.instagram_link.present? %>
            <%= link_to @arthist.instagram_link, {class: "link", target: "_blank"} do %>
              <i class="fab fa-2x fa-instagram"></i>
            <% end %>
          <% else %>
            <i class="fab fa-2x fa-instagram"></i>
          <% end %>
        </div>
        <div class="arthist_youtube_link">
          <% if @arthist.youtube_link.present? %>
            <%= link_to @arthist.youtube_link, {class: "link", target: "_blank"} do %>
              <i class="fab fa-2x fa-youtube"></i>
            <% end %>
          <% else %>
            <i class="fab fa-2x fa-youtube"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div id="debut">
      <%= render 'debut/debut_form', arthist: @arthist %>
    </div>

    <div class="sings_items arthist_sings">
      <%= render @sings %>
    </div>
  </div>
</div>
