<div class="header_container">
  <div class="header_inner">

    <ul class="header_left">
      <li class="Top"><%= link_to 'Top', root_path, {class: "link header_link"} %></li>
    </ul>

    <ul class="header_center">
      <li><%= link_to 'Sings', sings_path, {class: "link header_link"} %></li>
      <li><%= link_to 'Arthists', arthists_path, {class: "link header_link"} %></li>
      <% if current_user.present? %>
        <li><%= link_to 'Likes', sings_path(like_flg: "1"), {class: "link header_link"} %></li>
      <% end %>
    </ul>

    <ul class="header_right">
      <li><%= link_to 'Post', new_arthist_path, {class: "link header_link"} %></li>
      <% if current_user.present? %>
        <li><%= link_to 'Logout', session_path(current_user), {class: "link header_link", method: :delete}  %></li>

      <% else %>
        <li><%= link_to 'Login', new_session_path, {class: "link header_link"} %></li>
        <li><%= link_to 'SignUp', new_user_path, {class: "link header_link"} %></li>

      <% end %>
    </ul>
  </div>
</div>
